$header-height: 52px;
$header-bg: #0c1b41;
$header-color: #fff;

$nav-width: 66px;

$page-bg: #f9fafb;

$calendar-width: 740px;
$calendar-height: 600px;
$calendar-bg: #fff;

$overview-bg: #fff;
$overview-width: 435px;
$overview-height: 600px;
